<div class="container">
    <div class="row">

    {{#if furniture.lenght}}
    {{#each furniture}}
        <h3>{{title}}</h3>
    <div class="col-md-3 col-sm-4">
        <div class="single-new-arrival">
            <div class="single-new-arrival-bg">
                <img src="{{img}}" alt="new-arrivals images">
                <div class="single-new-arrival-bg-overlay"></div>
                {{#if isSale}}
                <div class="sale bg-1">
                    <p>sale</p>
                </div>
                {{/if}}
                <div class="new-arrival-cart">
                    <p>
                        <span class="lnr lnr-cart"></span>
                        <a href="#">add <span>to </span> cart</a>
                    </p>
                    <p class="arrival-review pull-right">
                        <span class="lnr lnr-heart"></span>
                        <span class="lnr lnr-frame-expand"></span>
                    </p>
                </div>
            </div>
            <h4><a href="#">{{name}}</a></h4>
            <p class="arrival-product-price">${{cost}}</p>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h3>afsus bu kategoriyadagi mahsulotimiz qolmagan</h3>
    {{/if}}


    </div>
</div>